"*":
  "atom-beautify":
    css:
      beautify_on_save: true
    general:
      _analyticsUserId: "1ef79e4f-e11d-49b3-898e-1567a8d44e90"
      analytics: false
    html: {}
    js:
      beautify_on_save: true
      indent_size: 2
    json:
      beautify_on_save: true
  autosave:
    enabled: true
  core:
    closeDeletedFileTabs: true
    disabledPackages: [
      "background-tips"
      "exception-reporting"
      "metrics"
      "atom-ternjs"
      "autocomplete-clang"
      "busy"
      "git-plus"
      "language-csv"
      "language-ini"
      "language-nginx"
      "linter-gcc"
      "multi-cursor"
      "tool-bar"
      "linter-packer-validate"
      "atom-beautify"
      "busy-signal"
      "emmet"
      "intentions"
      "language-docker"
      "language-fish-shell"
      "language-systemd"
      "linter-js-yaml"
      "linter-stylelint"
      "linter-ui-default"
      "prettier-atom"
      "language-emacs-lisp"
      "language-rust"
      "linter-rust"
      "linter-terraform-syntax"
      "terraform-fmt"
      "linter"
      "build-cargo"
      "build"
    ]
    followSymlinks: false
    hideGitIgnoredFiles: true
    ignoredNames: [
      ".bundle"
      ".git"
      "log"
      "repositories"
      "tmp"
      "vendor"
      ".DS_Store"
    ]
    telemetryConsent: "limited"
    themes: [
      "solarized-dark-ui"
      "solarized-dark-syntax"
    ]
  editor:
    fontFamily: "Menlo"
    fontSize: 13
    invisibles: {}
    showIndentGuide: true
    softWrapAtPreferredLineLength: true
  "go-debug":
    dlvPath: "/usr/local/bin"
  "go-plus":
    get: {}
    goPath: "~/Developer/go"
  "linter-packer-validate": {}
  "linter-terraform-syntax":
    terraformExecutablePath: "/usr/local/bin/terraform"
    useTerraformFormat: true
  "linter-ui-default":
    panelHeight: 60
    panelRepresents: "Entire Project"
  "markdown-writer":
    fileExtension: ".md"
  "platformio-ide": {}
  "prettier-atom":
    formatOnSaveOptions:
      enabled: true
  "release-notes":
    viewedVersion: "0.89.0"
  "spell-check":
    addKnownWords: true
    grammars: [
      "text.plain"
      "source.gfm"
      "text.git-commit"
    ]
    knownWords: [
      "Deps"
    ]
    locales: [
      "en-NZ"
      "en-AU"
      "en-GB"
    ]
  "terraform-fmt":
    binPath: "/usr/local/bin/terraform"
  "tool-bar":
    position: "Left"
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
".json.source":
  editor:
    autoIndent: true
".python.source":
  editor:
    autoIndent: true
    autoIndentOnPaste: true
".source.yaml":
  editor:
    autoIndent: true
    autoIndentOnPaste: true
