"*":
  "atom-beautify":
    general:
      analytics: false
    js:
      beautify_on_save: true
      indent_size: 2
  autosave:
    enabled: true
  core:
    disabledPackages: [
      "background-tips"
      "exception-reporting"
      "metrics"
      "atom-beautify"
      "atom-ternjs"
      "autocomplete-clang"
      "build"
      "busy"
      "git-plus"
      "language-csv"
      "language-fish-shell"
      "language-ini"
      "language-nginx"
      "linter-gcc"
      "multi-cursor"
      "tool-bar"
      "linter-packer-validate"
    ]
    followSymlinks: false
    hideGitIgnoredFiles: true
    ignoredNames: [
      ".bundle"
      ".git"
      "log"
      "repositories"
      "tmp"
      "vendor"
      ".DS_Store"
    ]
    telemetryConsent: "limited"
    themes: [
      "solarized-dark-ui"
      "solarized-dark-syntax"
    ]
  editor:
    fontFamily: "Menlo"
    fontSize: 13
    invisibles: {}
    showIndentGuide: true
    softWrapAtPreferredLineLength: true
  "go-debug":
    dlvPath: "/usr/local/bin"
  "go-plus":
    get: {}
    goPath: "~/Developer/go"
  "linter-packer-validate": {}
  "linter-ui-default":
    panelHeight: 78
  "markdown-writer":
    fileExtension: ".md"
  "platformio-ide": {}
  "release-notes":
    viewedVersion: "0.89.0"
  "spell-check":
    grammars: [
      "text.plain"
      "source.gfm"
      "text.git-commit"
    ]
    locales: [
      "en-NZ"
      "en-AU"
      "en-GB"
    ]
  "tool-bar":
    position: "Left"
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
".json.source":
  editor:
    autoIndent: true
".python.source":
  editor:
    autoIndent: true
    autoIndentOnPaste: true
".source.yaml":
  editor:
    autoIndent: true
    autoIndentOnPaste: true
